{% extends "base.html" %}

{% block head %}
<title>playfair()</title>
{% endblock %}

{% block body %}
        <h1>
			Playfair Cipher
        </h1>
        <form action="/morse.html" method="POST">
            <select name="mode">
                <option value="encode">encode</option>
                <option value="decode">decode</option>
            </select>
            <input type="text" name="string" id="string" placeholder="text">
            <input type="text" name="key" id="key" placeholder="key">
            <input type="submit" value="exe">
        </form>
        <h3>
            {{ data }}<br>
            {{ var }}
        </h3>
{% endblock %}