@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    margin: 0;
    font-family: 'Fira Code', monospace;
    background-color: #080707;
    color: #d341ff;    
}

.container {
    text-align: center;
}

.link {
    color: inherit;
    text-decoration: underline;
}

.link:hover {
    color: white;
}